# This file contains access transformers needed to access non-public members
# The format is documented here: https://mcforge.readthedocs.io/en/latest/advanced/accesstransformers/

# Access to chest block position for visualization
public net.minecraft.world.level.block.entity.ChestBlockEntity
